.userSubmitWrapper {
    width:50vw;
    height: 50vh;
    margin: 0 auto;
}

.userSubmitInput {
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #cfcfcf;
    font-size: 16px;
    outline: none;
  }
  
.displayErrors input:invalid {
    border-color: #f73772;
  }

.userSubmitButton {
    cursor: pointer;
    padding: 12px;
    background: #999;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    border-bottom: 2px solid #797979;
}
    
.userSubmitButton:hover {
    background-color: #a1a1a1;
}
  
.userSubmitButton:active {
    background-color: #888;
}

.errorBlock {
    color: red;
  }
  
  
