
.explorePageContainer{
	background:red !important;
}

.slick-dots {
	top:10vh !important;
	position:absolute !important;
	
}
// const rowStyle={
//     marginTop:'20vh',
//     minHeight:'0px',
//     minWidth:'0px',
//     height:'100vh',
//     overflowY:'none'
// }
// const imageStyle={
//     height:'60vh',
//     paddingLeft:'10vw'
// }
// const imageContainer={
//     height:'100%',
//     width:'350px',
//     border:'1vw solid',
    
// }
// const pageContainer={
//     background:'#D0D0D0'
// }
// style={{width:'100%', verticalAlign:'center'}}