 
.explorePageContainer{
	height:80vh !important;
	width:100vw;
	overflow-y:none !important;
	.rowStyle{
		margin-top:20vh;
		min-height:0px;
		min-width:0px;
		.imageWrapper{
			height:60vh;
			border:$darkGray solid;
			border-width:.5vw;
			background-color:white;
			position:absolute;
			.imageContainer{
				position:absolute;
				height:60vh;
				top:50%;
				left:50%;
				.imageStyle{
					transform: translate(-50%, -50%);
				}
			}
		}
	}
	.slick-dots {
		top:10vh !important;
		position:absolute !important;
		
	}
	.infoWrapper{
		background:black;
		color:white;
		font:avenir;
		border-radius:15px 0px 0px 25px;
		height:60vh;
		right:0;
	}
}

@media screen and (max-width: $small) {
	.explorePageContainer{
		.rowStyle{
			.imageWrapper{
				.imageContainer{
					.imageStyle{
					}
				}
			}
		}
		.slick-dots {
		}
		.infoWrapper{
		}
	}
}

@media screen and (max-width: $medium) {
	.explorePageContainer{
		.rowStyle{
			.imageWrapper{
				.imageContainer{
					.imageStyle{
					}
				}
			}
		}
		.slick-dots {
		}
		.infoWrapper{
		}
	}
}

@media screen and (min-width: $medium) {
	.explorePageContainer{
		.rowStyle{
			padding-left:10vw;
			.imageWrapper{
				.imageContainer{
					.imageStyle{
					}
				}
			}
		}
		.slick-dots {
		}
		.infoWrapper{
			padding:30px;
			margin-left:5vw;
		}
	}
}





