


.landingWrapper{
    background-color:black;
    height:100vh;
    overflow-y:none;
}
.navPanel_1{
    background-color: #FFDC65;
    color:#E5B616;
}
.navPanel_2{
    background-color: #E5B616;
    color:#FFDC65;
}
// .butt_1{
//     background:'none';
//     border-color:'#E5B616';
//     color:'#E5B616';
//     borderRadius:'25px';
//     borderWidth:'.25vh';
//     padding:'1vh 2vw 1vh 2vw';
//     marginTop:'2vh';
// }
// .butt_2{
//     background:'none';
//     borderColor:'#FFDC65';
//     color:'#FFDC65';
//     borderRadius:'25px';
//     borderWidth:'.25vh';
//     padding:'1vh 2vw 1vh 2vw';
//     marginTop:'2vh';
// }

.phoneStyle{
    height:100vh;
}