
.landingWrapper{
    background-color:black;
    height:100vh;
    overflow-y:none;
    .transformContainer{
    	height:75vh;
    	width:50vw; 
    }
    .phoneStyle{
	    height:100vh;
	}
	.logoWrapper{
		.logo{
			width:272px;
			margin-top:7vh;
			margin-bottom:5vh;

		}
	}
	.phoneWrapper{
		transition:linear .7s;
		margin-top:0;
		width: 272px;
		height:564px;
		border-radius:25px;
		background:$lightGray;
		padding-top:20px;
		margin-left:10vw;
		marginBottom:7vh;
		.speakerCircle{
			height:12px;
			width:12px;
			left:70px;
			top:-6px;   
			background:black; 
			position:relative; 
			border-radius:10px;
			transition:linear .7s; 
		}
		.speaker{
			height:12px;
			width:90px;
			left:100px;
			top:-18px;  
			border-radius:10px;
			background:black; 
			position:relative; 
			transition:linear .7s;
		}
		.phone{
			margin-left:7px;
			margin-right:7px;
			width:258px;
			height:475px;
			border-radius:4px;
			background:black;
			color:white;
			padding:40px;
			padding-top:40px; 
			padding-left:25px;
			font-size:35px;
			font-family:avenir;
			line-height:1.25;
		}
		.aboutWrapper{
			opacity:0;
		}
		.line{
			border-top:solid white;
			border-width:1px;
			position:relative;
			margin-top:-60px; 
			width:90px; 
			margin-left:30px; 
			color:black; 
			transition:linear .7s;
		}
		.credits{
			display:none; 
			transition:linear .7s;
		}
	}
	.phoneWrapperHover{
		transition:linear .7s;
		transform: translateY(70%);
		height:180px;
		padding-top:0px; 
		border-radius:5px; 
		.aboutWrapper{
			opacity:1;
			margin-top:-20px; 
			color:white !important;
			height:145px; 
			margin-left:11px;
			margin-right:11px;
			width:250px;
			borderRadius:5px;
			background:black !important;
			padding:12px;
			transition:linear .15s;
			b{
				color:$darkYellow !important; 
			}
		}
		.line{
			margin-top:80px; 
			margin-left:15px;
			transition:linear .7s;
			border-color:$lightGray; 
			width:90px; 
			color:$lightGray; 
			padding-top:10px; 
			font-size:14px;
			border-width:1px;
		}
		.credits{
			display:block;
			color:$lightGray;
			line-height:.5;
			margin-top:-28px; 
			margin-left:125px; 
			font-size:15px; 
		}
		.speakerCircle{
			left:182px;
			width:50px;
			border-radius:3px; 
			z-index:100000 !important;
			height:15px;
			background:$reallyLightGray;
		}
		.speaker{
			border-radius:3px;
			transition:linear .7s;
			background:$lightGray;
			left:0px;
			top:-30px;
			height:30px; 
			transform: translateX(170%);
			padding-top:12px;
			padding-left:10px; 
			.cameraCircle{
				height:10px;
				width:10px;
				background:$lightYellow;
				border-radius:10px; 
			}
		}
	}
	.navPanel_1{
    	background-color: #FFDC65 !important;
    	color:#E5B616;
    	height:50vh;
    	align-content:center;
		text-align:center;
		height:50vh;
		padding-top:2vh;
		transition:linear .7s;
    	.panelStyle{
    		// background:red;  
    		.animationWrapper{
    			margin-top:3vh; 
    			height:30vh;
    			padding-left:calc(51% - 125px) !important;
    			transition:linear .7s;
	    		.frame{
	    			height:140px; 
	    			width:250px; 
	    			background:$darkGray; 
	    			margin-top:7vh;
	    			border-radius:3px; 
	    			transition:linear .7s;
	    			.textWrapper{
	    				background:$lightGray;
	    				transition:linear .7s;
	    				position:relative; 
	    				height:100px;
	    				top:-15px; 
	    				width:250px; 
	    				padding-top:10px; 
	    				transition:linear .7s;
						.textStyle{
							font-family:avenir;
							line-height:.4;
							margin:none;
							padding:none;
							margin-top:15px; 
							color:$offwhite; 
							transition:linear .7s;
		    			}
		    		}
		    		.extra_1{
		    			position:relative;
		    			height:19px;
		    			width:90px; 
		    			background:$darkGray; 
		    			top:-18px; 
		    			left:20px;
		    			border-radius:3px;
		    			transition:linear .7s;

		    		}
		    		.extra_2{
		    			position:relative;
		    			height:15px;
		    			width:50px;
		    			background:$lightYellow; 
		    			left:35px;
		    			top:-30px; 
		    			border-radius:3px; 
		    			transition:linear .7s;
		    			.extra_2_2{
		    				top:3px;
		    				left:58px;
		    				height:10px;
		    				width:10px;
		    				background:$offwhite;
		    				position:relative;
		    				border-radius:10px; 
		    				transition:linear .7s; 
		    			}
		    		}
		    		.extra_3{
		    			position:relative;
		    			height:100px;
		    			width:45px;
		    			background:$darkYellow; 
		    			top:-115px;
		    			border-radius:0px 3px 3px 0px; 
		    			transition:linear .7s; 
		    		}
		    		.extra_4{
		    			position:relative;
		    			height:100px;
		    			width:45px;
		    			background:$darkYellow; 
		    			top:-215px;
		    			left:205px; 
		    			border-radius:3px 0px 0px 3px;
		    			transition:linear .7s;
		    		}
				}
			}
    	}
    	.animationWapperHovered{
			.frame{
				margin-left:1.5vw !important;
				height:175px !important;
				width:175px !important; 
				transform: translateY(-10%);
				.textWrapper{ 
					top:-172.5px !important;
					left:7.5px; 
					height:160px !important;
					width:160px !important; 
					transition:linear .7s;
					padding-top: 40px !important; 
					border-radius:3px !important; 
					.textStyle{
						transition:linear .7s;
					}
				}
				.extra_1{
					height:90px !important;
					width: 4px !important;
					transform: rotate(75deg) !important;
					background:$darkYellow !important; 
					margin-left:21px !important;
					top:-55px !important; 
				}
				.extra_2{
					height:90px !important;
					width: 3px !important;
					transform: rotate(-75deg) !important;
					background:$darkYellow !important; 
					margin-left:94px !important;
					top:-145px !important; 
					.extra_2_2{
						top:-6px!important;
						left:-5px !important;
					}
				}
				.extra_3{
					top:-350px !important;
					transform: translateX(190px); 
					border-radius:3px !important; 
					transition:linear .7s;
					width:75px !important;
					height:75px !important; 
					background:$lightYellow !important;
					border: solid $darkYellow;
					border-width: 4px !important; 
				}
				.extra_4{
					top:-340px !important; 
					transform: translateX(-15px); 
					border-radius:3px !important; 
					transition:linear .7s;
					width:60px !important;
					height:100px !important; 
					background:$lightYellow !important;
					border: solid $darkYellow;
					border-width: 4px !important;
				}
			}
		}
    	.button{
    		background:none;
    		border-color:$darkYellow;
    		color:$darkYellow;
    		border-radius:25px;
    		border-width:.25vh;
    		padding:1vh 2vw 1vh 2vw;
    		margin-top:3vh;
    	}
	}
	.navPanel_2{
	    background-color: #E5B616 !important;
	    color:#FFDC65;
	    height:50vh;
	    align-content:center;
		text-align:center;
		height:50vh;
		padding-top:2vh;
		transition:linear .7s;
		padding-left: calc(50%-85px) !important; 
	    .panelStyle{
    		// background:red;  
    		.animationWrapper{
    			margin-top:3vh; 
    			height:30vh;
    			padding-left:calc(50% - 80px) !important;
    			transition:linear .7s;
	    		.frame{
	    			height:160px; 
	    			width:160px; 
					background:$darkGray; 
					border-radius:100px; 
					padding:7.5px;
					position:relative; 
					transition:linear .7s;
	    			.textWrapper{
	    				background:$darkYellow;
	    				height:145px;
	    				width:145px;
	    				border-radius:100px;  
	    				border-left:solid $reallyLightGray; 
	    				border-width:4px; 
	    				padding-top:50px; 
	    				position:relative; 
	    				margin-top:-80px; 
	    				transition:linear .7s;
						.textStyle{
							font-family:avenir;
							line-height:.5;
							margin-left: -2px; 
							padding:none;
							color:white; 
							position:relative; 
							transition:linear .7s;
			    		}
		    		}
		    		.extra_1{
		    			position:relative; 
		    			height:30px;
		    			width:15px; 
		    			background: $darkGray; 
		    			transform: rotate(-45deg);
		    			top:120px; 
		    			left:130px; 
		    			transition:linear .7s;
		    		}
		    		.extra_2{
		    			position:relative; 
		    			height:50px;
		    			width:15px; 
		    			background:$darkGray; 
		    			transform: rotate(-45deg);
		    			top:110px;
		    			left:160px; 
		    			border-top:solid black;
		    			border-width:5px;  
		    			transition:linear .7s;
		    			.extra_2_2{
		    				position:relative; 
		    				height:45px;
		    				width:5px; 
		    				background:$lightGray; 
		    				transition:linear .7s; 
		    			}
		    		}
		    		.extra_3{
		    			// position:relative; 
		    			// height:3px;
		    			// width:100px; 
		    			// background:$lightYellow; 
						// border-radius:3px;
		    		}
		    		.extra_4{
		    			// position:relative; 
		    			// height:7px;
		    			// width:100px; 
		    			// background:orange; 
		    		}
				}
			}
    	}
    	.animationWapperHovered{
    		margin-left:55px !important; 
			.frame{
				width:70px !important;
				height:70px !important;
				background:$offwhite !important;
				padding:0 !important; 
				border-top:solid $reallyLightGray 10px !important; 
				.textWrapper{ 
					border-radius:10px !important;
					margin-top:25px !important; 
					background:$lightYellow !important; 
					width:170px !important; 
					margin-left:-50px !important; 
					height: 100px !important;
					padding-top:25px !important;
					border-left:solid $lightYellow !important;
					.textStyle{
						color:$darkGray !important;
					}
				}
				.extra_1{
					width: 0 !important;
					height: 0 !important;
					border-left: 27px solid transparent !important;
					border-right: 27px solid transparent !important;
					border-top: 35px solid $offwhite !important; 
					background:none !important; 
					transform: rotate(0deg) !important;
					left:8px !important; 
					top:47px !important; 
					border-radius:10px !important; 

				}
				.extra_2{
					border-left:$darkGray solid 5px !important; 
					border-right:$darkGray solid 5px !important;
					border-top:none !important;
					border-bottom:none !important;
					background:none !important;
					transform: rotate(0deg) !important;
					height:30px !important;
					width:15px !important;
					left:28px !important;
					top:-20px !important; 
					.extra_2_2{
						border-left:$darkGray solid 5px !important; 
						border-right:$darkGray solid 5px !important;
						border-top:none !important;
						border-bottom:none !important;
						background:none !important;
						transform: rotate(90deg) !important;
						height:30px !important;
						width:15px !important;
						left:-6px !important; 
					}
				}
				.extra_3{
					
				}
				.extra_4{
				
				}
			}
		}
    	.button{
    		background:none;
    		border-color:$lightYellow;
    		color:$lightYellow;
    		border-radius:25px;
    		border-width:.25vh;
    		padding:1vh 2vw 1vh 2vw;
    		margin-top:3vh;
    	}
	}
}

@media screen and (max-width: $small) {
	.landingWrapper{
		.transformContainer{
	    	height:75vh;
	    	width:100vw; 
	    }
		.logoWrapper{
			.logo{
				margin-left:calc(50vw - 140px) !important;
			}
		}
		.phoneWrapper{
			margin-left:calc(50vw - 140px) !important;
		}
		.navPanel_1{
			height:100vh !important;
			.panelStyle{
				padding-top:20vh !important;
				height:67vh !important;
				.imageStyle{
					margin-bottom:8vh;
				}
			}
			.button{
				margin-top:.75vh;
				padding:1vh 5vw 1vh 5vw;
			}
		}
		.navPanel_2{
			height:100vh !important;
			.panelStyle{
				padding-top:20vh !important;
				height:67vh !important;
				.imageStyle{
					margin-bottom:8vh;
				}
			}
			.button{
				margin-top:.75vh;
				padding:1vh 5vw 1vh 5vw;
			}
		}
	}
}

@media screen and (max-width: $medium) {
	.landingWrapper{
		.logoWrapper{
			.logo{
				margin-left:10vw;
			}
		}
		.phoneWrapper{

		}
		.navPanel_1{
	    	.panelStyle{
	    		// background:red;  
	    		.animationWrapper{
		    		.frame{
		    			margin-left:10px !important; 
		    			.textWrapper{
							.textStyle{ 
			    			}
			    		}
					}
				}
	    	}
	    	.animationWapperHovered{
				.frame{
					
					.textWrapper{
						
						.textStyle{
						}
					}
					.extra_1{

					}
					.extra_2{
						.extra_2_2{
						}
					}
					.extra_3{
						
					}
					.extra_4{
					
					}
				}
			}
		}
		.navPanel_2{
	    	.panelStyle{
	    		// background:red;  
	    		.animationWrapper{
		    		.frame{
		    			.textWrapper{
							.textStyle{ 
			    			}
			    		}
					}
				}
	    	}
	    	.animationWapperHovered{
				.frame{
					margin-left:-5% !important;
					.textWrapper{
						border-radius:0px !important; 
						padding-left:7px !important; 
						.textStyle{
						}
					}
					.extra_1{

					}
					.extra_2{
						.extra_2_2{
						}
					}
					.extra_3{
						
					}
					.extra_4{
					
					}
				}
			}
		}
	}
}

@media screen and (min-width: $medium) {
	.landingWrapper{
		.logoWrapper{
			.logo{
				margin-left:17vw;
			}
		}
		.phoneWrapper{
			margin-left:17vw;
		}
		.navPanel_2{
	    	.panelStyle{
	    		// background:red;  
	    		.animationWrapper{
		    		.frame{
		    			.textWrapper{
							.textStyle{ 
			    			}
			    		}
					}
				}
	    	}
	    	.animationWapperHovered{
	    		// margin-left:4vw !important; 
				.frame{
					margin-left:-2% !important; 
					.textWrapper{
						.textStyle{
						}
					}
					.extra_1{

					}
					.extra_2{
						.extra_2_2{
						}
					}
					.extra_3{
						
					}
					.extra_4{
					
					}
				}
			}
		}
	}
}
