
.landingWrapper{
    background-color:black;
    height:100vh;
    overflow-y:none;

    .phoneStyle{
	    height:100vh;
	}
	.navPanel_1{
    	background-color: #FFDC65 !important;
    	color:#E5B616;
    	height:50vh;
	}
	.navPanel_2{
	    background-color: #E5B616 !important;
	    color:#FFDC65;
	    height:50vh;
	}
}
// .butt_1{
//     background:'none';
//     border-color:'#E5B616';
//     color:'#E5B616';
//     borderRadius:'25px';
//     borderWidth:'.25vh';
//     padding:'1vh 2vw 1vh 2vw';
//     marginTop:'2vh';
// }
// .butt_2{
//     background:'none';
//     borderColor:'#FFDC65';
//     color:'#FFDC65';
//     borderRadius:'25px';
//     borderWidth:'.25vh';
//     padding:'1vh 2vw 1vh 2vw';
//     marginTop:'2vh';
// }
