// Load Fonts

// $offwhite:    #FFFFFF;
// $darkblue:    #022933;
// $yellow:      #FFBA00;
// $blue:        #0076A3;
// $green:       #548C27;
// $orange:      #F39856;
// $red:         #D14348;
// $purple:      #6D73C2;

$lightYellow:	#FFDC65;
$darkYellow:	#E5B616;
$offwhite:		#EAEAEA;
$reallyLightGray: #D0D0D0;
$lightGray:		#404040;
$darkGray:		#333333;


$font-main: avenir, sans-serif;
$font-highlight: avenir, sans-serif;

//breakpoints

$small:		450px;
$medium:	760px;
$large:		1200px;
