
/* this css is garbaagge, just trying to get an idea of whats what */

.explore-wrapper {
    height: 100vh;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "top-main aside"
    "main aside"
   
}

.logo-wrapper {
    grid-area: top-main;
    align-content: flex-end;
}

.search-wrapper {
    margin: 2em;
    grid-area: main;
    display: grid;
    justify-self: center;
    align-content: start;

}

.trending-wrapper {
    grid-area: aside;
    display: grid;
    align-content: center;
}

@media screen and (max-width: 480px) {
    .explore-wrapper {
        display: initial;
    }
}